@charset "UTF-8";
/* main.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: Dark Light;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  min-height: 100vh;
  background: var(--theme-bg-page);
  color: var(--theme-text-main);
}

.page-see-more {
  background: radial-gradient(circle, var(--theme-bg-center) 0%, var(--theme-bg-edge) 100%);
}

:root {
  --brand-base: #ff0000;
  --theme-bg-page: hsl(from var(--brand-base) h s 98%);
  --theme-bg-elevated: hsl(from var(--brand-base) h s 100%);
  --theme-text-main: hsl(from var(--brand-base) h s 10%);
  --theme-text-muted-light: hsl(from var(--brand-base) h s 90%);
  --theme-text-muted-dark: hsl(from var(--brand-base) h s 60%);
}

html[data-theme=Blanco] {
  --theme-bg-page: hsl(from var(--brand-base) h s 98%);
  --theme-bg-elevated: hsl(from var(--brand-base) h s 100%);
  --theme-text-main: hsl(from var(--brand-base) h s 10%);
  --theme-text-muted-light: hsl(from var(--brand-base) h s 90%);
  --theme-text-muted-dark: hsl(from var(--brand-base) h s 60%);
}

html[data-theme=Negro] {
  --theme-bg-page: hsl(from var(--brand-base) h s 5%);
  --theme-bg-elevated: hsl(from var(--brand-base) h s 10%);
  --theme-text-main: hsl(from var(--brand-base) h s 95%);
  --theme-text-muted-light: hsl(from var(--brand-base) h s 20%);
  --theme-text-muted-dark: hsl(from var(--brand-base) h s 45%);
}

:root {
  --brand-base-bg: rgb(0, 13, 255);
  --theme-bg-center: hsl(from var(--brand-base-bg) h s 75%);
  --theme-bg-edge: hsl(from var(--brand-base-bg) h s 0%);
}

html[data-theme-bg=Blanco] {
  --theme-bg-center: hsl(from var(--brand-base-bg) h s 75%);
  --theme-bg-edge: hsl(from var(--brand-base-bg) h s 0%) ;
}

html[data-theme-bg=Negro] {
  --theme-bg-center: hsl(from var(--brand-base-bg) h s 0%);
  --theme-bg-edge: hsl(from var(--brand-base-bg) h s 75%) ;
}

.c-header {
  background-color: var(--theme-bg-elevated);
  color: var(--theme-text-main);
}

.o-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.o-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.c-filter {
  background-color: var(--filter-bg);
  padding: 15px;
}
.c-filter__btn {
  border-radius: 1px;
  width: 120px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--theme-text-muted-light);
  color: var(--theme-text-main);
}
.c-filter__btn--active {
  cursor: pointer;
  background-color: var(--theme-text-muted-dark);
}

button {
  border: none;
  border-radius: var(--btn-radius);
  font-size: var(--btn-font-size);
  font-weight: 600;
  color: var(--theme-text-main);
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  transform: translateY(-2px);
}

.c-card {
  --bg: var(--theme-bg-elevated);
  --border-color: transparent;
  --text-color: var(--theme-text-main);
  background: var(--bg);
  border: 2px solid var(--border-color);
  padding: 15px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.c-card__image {
  height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
  width: 100%;
}
.c-card__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.c-card__title {
  font-size: 1rem;
  /* Obliga a que el texto sea una sola línea */
  white-space: nowrap;
  /* Oculta lo que se salga del contenedor */
  overflow: hidden;
  /* Pone los "..." automáticamente al final */
  text-overflow: ellipsis;
  /* Asegúrate de que tenga un ancho máximo o el ancho del padre */
  max-width: 100%;
}
.c-card__btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: var(--theme-text-muted-light);
  position: relative;
  z-index: 2;
}
.c-card__btn--buy:hover {
  background: var(--theme-text-muted-dark);
}
.c-card {
  /* Usamos '&' para pegar '--featured' a '.c-card' */
}
.c-card--featured {
  background: var(--bg);
  --border-color: gold;
  /*una sombra dorada para resaltar más */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=style.css.map */
