


@use "../1-settings/colors" as c;


.c-card {
  --bg: var(--theme-bg-elevated);
  --border-color: transparent;
  --text-color: var(--theme-text-main);

  background: var(--bg);
  border: 2px solid var(--border-color); // Aca le estamos danto color a los Borders pero con una variable CSS
  padding: 15px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
  // color: c.$color-accent; Aca usamos variable de SCSS para cambiar los colores de la letra en las Card

  &__image {
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
    width: 100%;
  }

  &__link{
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  // Ejercicio, Agregamos estilos a la carta para que el nombre no sobrepase la carta

  &__title {
    font-size: 1rem;
    // color: var(--theme-secondary);
    /* Obliga a que el texto sea una sola línea */
    white-space: nowrap;
    /* Oculta lo que se salga del contenedor */
    overflow: hidden;
    /* Pone los "..." automáticamente al final */
    text-overflow: ellipsis;
    /* Asegúrate de que tenga un ancho máximo o el ancho del padre */
    max-width: 100%;
  }

  &__btn {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: var(--theme-text-muted-light);
    position: relative;
    z-index: 2; // Más alto que el link, para que no lo tape


    &--buy:hover {
      background: var(--theme-text-muted-dark);

    }
  }

  // Ejercicio, creamos estos estilos que seran agregados unicamente a los productos que tengan la categoria joyas

  /* Usamos '&' para pegar '--featured' a '.c-card' */
  &--featured {
    background: var(--bg);
    --border-color: gold;
    /*una sombra dorada para resaltar más */
    box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
}

}
