



.c-filter{ // Botones de Filtros
    background-color: var(--filter-bg);
    padding: 15px;


    &__btn{
        border-radius: 1px;
        width: 120px;
        cursor: pointer;
        border-radius: 5px;
        background-color:var(--theme-text-muted-light);
        color:var(--theme-text-main)
    }


    &__btn--active{
        cursor: pointer;
        background-color: var(--theme-text-muted-dark);

    }
};

button { // Botones de Cartas
  border: none;
  border-radius: var(--btn-radius);
  font-size: var(--btn-font-size);
  font-weight: 600;
  color: var(--theme-text-main); // Color de Letra
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  transform: translateY(-2px);
  
}

