// 3-generic/_theming.scss
@use "../1-settings/colors" as *;

// 1. TEMA CLARO (Por defecto) 
:root {

  // Guardamos la semilla en una variable CSS
  --brand-base: #{$color-primary};


  --theme-bg-page: hsl(from var(--brand-base) h s 98%);
  --theme-bg-elevated: hsl(from var(--brand-base) h s 100%); // Blanco Puro 


  --theme-text-main: hsl(from var(--brand-base) h s 10%); // Color Letra
  --theme-text-muted-light: hsl(from var(--brand-base) h s 90%); // Color Claro En Base al primario Para: Background-Btn, Hover-Btn

  --theme-text-muted-dark: hsl(from var(--brand-base) h s 60%); // Color Oscuro En Base al primario Para:  Background-Btn Hover-Btn
}



// 3. FORZAR TEMAS 
html[data-theme='Blanco'] {
  --theme-bg-page: hsl(from var(--brand-base) h s 98%);
  --theme-bg-elevated: hsl(from var(--brand-base) h s 100%);

  --theme-text-main: hsl(from var(--brand-base) h s 10%); // Color Letra Blanco
  --theme-text-muted-light: hsl(from var(--brand-base) h s 90%); // Color En Base al primario Para: Letra, Background-Btn

  --theme-text-muted-dark: hsl(from var(--brand-base) h s 60%); // Color Oscuro En Base al primario Para:  Background-Btn Hover-Btn

  }


html[data-theme='Negro'] {
  --theme-bg-page: hsl(from var(--brand-base) h s 5%);
  --theme-bg-elevated: hsl(from var(--brand-base) h s 10%);

  --theme-text-main: hsl(from var(--brand-base) h s 95%); // Color Letra Negro
  --theme-text-muted-light: hsl(from var(--brand-base) h s 20%); // Color En Base al primario Para: Letra, Background-Btn

  --theme-text-muted-dark: hsl(from var(--brand-base) h s 45%); // Color Oscuro En Base al primario Para:  Background-Btn Hover-Btn
  }




  // Background Degraded Radia with HSL

  :root{
    --brand-base-bg: #{$color-background};
    --theme-bg-center: hsl(from var(--brand-base-bg) h s 75%);
    --theme-bg-edge: hsl(from var(--brand-base-bg) h s 0%);
  }

  html[data-theme-bg='Blanco']{
    --theme-bg-center: hsl(from var(--brand-base-bg) h s 75%);
    --theme-bg-edge: hsl(from var(--brand-base-bg) h s 0%)
  }


  html[data-theme-bg='Negro']{
    --theme-bg-center: hsl(from var(--brand-base-bg) h s 0%);
    --theme-bg-edge: hsl(from var(--brand-base-bg) h s 75%)
  }